<!--<div class="card-content">-->
<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
	<div class="card-img">
		<img src="https://placeimg.com/380/230/nature" alt="">
		<span><h4>{{position}}</h4></span>
	</div>
	<div class="card-desc">
		<h3>{{destino.nombre}}</h3>
		<p style="color: black;"><b>Servicios</b></p>
		<ul>
			<li *ngFor="let s of destino.servicios">
				<span [ngSwitch]="s">
					<b *ngSwitchCase="'desayuno'" style="color: red">{{s}}</b>
					<b *ngSwitchCase="'pileta'" style="color: teal">{{s}}</b>
					<b *ngSwitchDefault>{{s}}</b>
				</span>

			</li>
		</ul>

		<p>Servicios</p>
		<div >
			<a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
				<i class="material-icons md-18">thumb_up</i>  
			</a>
			<a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">  
				 <i class="material-icons md-18">thumb_down</i>
			</a>
			&nbsp;
			Votos: {{destino.votes}}	
		</div>
		<!--<div >
			<a href="#" (click)="voteUp()"><i class="material-icons md-18">thumb_up</i>  </a>
			<a href="#" (click)="voteDown()">   <i class="material-icons md-18">thumb_down</i></a>
			{{destino.votes}}
			
		</div>
		<hr>
		<div>
			<a href="#" class="btn-card" (click)="ir()">Ir</a>
			<span *ngIf="destino.isSelected()">
		 	<span ngNonBindable> {{PREFERIDO}} </span>
		 	</span>
			 <a [routerLink]="['/destino']"> Ver! </a>
		</div>-->

		<hr>
		<div>
			<a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destinos_elegir_preferido lista_destinos_item">IR!</a>
			<span *ngIf="destino.isSelected()">
		 	<span ngNonBindable> {{PREFERIDO}} </span>
		 	</span>
			 <a [routerLink]="['/destino']"> Ver! </a>
		</div>
	</div>
	<hr>
</div>


